body {
    -webkit-flex-direction: column;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 15px;
    background-color: #1abc9c;
}

section {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #3498db;
    flex-shrink: 0;
}


.left-column--three-columns {
    text-align: center;
    padding: 15px;
    flex: 2;
    -webkit-flex: 2;
    background-color: aquamarine;
}

.center-column--three-columns {
    text-align: center;
    padding: 15px;
    flex: 4;
    -webkit-flex: 4;
    background-color: antiquewhite;
}

.right-column--three-columns {
    text-align: center;
    padding: 15px;
    flex: 2;
    -webkit-flex: 2;
    background-color: aqua;
}

.left-column--two-columns {
    text-align: center;
    padding: 15px;
    flex: 2;
    -webkit-flex: 2;
    background-color: aquamarine;
}

.right-column--two-columns {
    text-align: center;
    padding: 15px;
    flex: 2;
    -webkit-flex: 2;
    background-color: aqua;
}